* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: linear-gradient(120deg, #a6a6a6, #333333);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.calculator-container {
  background-color: black;
  box-shadow: 2px 2px 20px 2px hsl(35, 100%, 50%);
  padding: 4rem;
}

.calculator-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8rem;
}

.light-grey,
.dark-grey,
.yellow {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 4.2rem;
  width: 4.2rem;
  border-radius: 50%;
  /* margin: 0.4rem; */
  cursor: pointer;
  font-weight: 600;
}

.light-grey {
  background-color: hsl(0, 0%, 65%);
  color: black;
}

.light-grey:hover {
  background-color: hsl(0, 0%, 56%);
}

.dark-grey {
  background-color: hsl(0, 0%, 20%);
  color: white;
}

.dark-grey:hover {
  background-color: hsl(0, 1%, 34%);
}

.yellow {
  background-color: hsl(35, 100%, 50%);
  color: white;
}

.yellow:hover {
  background-color: hsl(35, 97%, 42%);
}

.zero {
  grid-column: 1 / span 2;
  width: 8.4rem;
  border-radius: 3rem;
}

.display {
  font-size: 2.3rem;
  padding: 1rem;
  color: white;
  text-align: right;

  border-radius: 1rem;
}

.display-input,
.display-output {
  background-color: hsl(0, 1%, 15%);
  padding: 0.3rem;
  overflow-y: hidden;
  overflow-x: scroll;
  width: 300px;
  scroll-snap-type: x mandatory;
}

.display-input {
  font-size: 4rem;
}
